* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Lato", sans-serif;
}

/*body here*/
body {
    max-width:100%;
    overflow-x: hidden;
}

header {
    background-color: rgb(255, 255, 255);
    color: green;
    box-shadow: 0 2px 6px rgba(0, 0 ,0 ,0.1);
    gap: 15px;
    width: 100%;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;    
    z-index: 99;
}

header h1 {
    font-size: 40px;
    padding-left: 80px;
    padding: 15px 0;
}

.container {
    display: flex;
    justify-content: center;
    gap: 35px;
    font-size: 20px;
}

.container a {
    color: green;
    padding: 15px;
    transition: all 0.1s linear;
    border-radius: 5px;
}

.container a:hover{
    background-color: rgb(2, 85, 2);
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}

.img-button {
    display:flex;
    justify-content: center;
    align-items: center ;
    padding-right: 80px;
}

.img {
    transition: all 0.2s linear;
}

.img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.image{
    width: 25px;
    margin: 5px;
    padding-right: 5px;
}

.botao {
    border-left: 1px solid black;
    padding-left: 10px;
}

.btn {
    border-radius: 15px;
    padding: 7px 30px;
    border: none;
    background-color: green;
    color: rgb(255, 255, 255);
    transition: all 0.2s linear;
}

.btn:hover{
    background-color: rgb(5, 96, 5);
    cursor: pointer;
}

.banner-text{ /*Adicionar outra div para a propriedae background*/
    background-size: cover;
    background-attachment: scroll;
    height: 800px;
    background-repeat: no-repeat;
    box-shadow: 0 2px 6px black;
    background-position: center;
    background-image: url('/images/happy-waiters-bringing-food-table-serving-group-friends-restaurant.jpg');
}

.text {
    color: white;
    font-size: 35px;
    display: inline-block;
    text-align: left;
    max-width: 100%;
    padding: 100px 0 0 60px;
}

.text h2 {
    padding-top: 60px;
    padding-left: 30px;
}

 .text p  {
    max-width: 500px;
    margin-top: 30px;
    font-weight: 200;
    background-color: rgba(102, 50, 2, 0.541);
    font-size: 20px;
    padding: 30px;
 }

 .btn-banner {
    border: none;
    text-decoration: none;
    padding: 20px 30px;
    font-size: 35px;
    background-color: rgb(22, 21, 21);
    color: white;
    display: inline-block;
    width: 100%;
    transition: all 0.2s ease;
 }

 .btn-banner:hover{
    background-color: black;
    transform: scale(1.1);
    cursor: pointer;
    
 }

 .container-sobre {
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 60px;
    
 }
/*
 .sobre-text {

 }
 */

 .sobre-text h2 {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-size: 30px;
 }

 .sobre-text p {
    padding-top: 5px;
    color: grey;
 }

 .container-chefs {
    border-radius: 20px;
    padding-top: 80px;
    overflow: hidden;   
    padding-bottom: 60px;
 }

 .chefs {
    display: flex;
 }

 .chefs-text {
    display: inline-block;
    padding: 28px 0 20px 20px
 }
    
.chefs-text h3{
    font-size: 40px;
    margin-bottom: 20px
}

.chefs-text p {
    line-height: 1.6;
    font-size: 20px;
    color: grey;
}

/*--seção-cardapio*/ 
/*CORRIGIR ESTRUTURA DE ZOOM DOS ELEMENTOS*/
 #cardapio {
    max-width: 100%;
    background-color: rgb(34, 33, 33);
    box-shadow: 2px -10px 8px 10px rgb(13, 13, 13);
    padding-bottom: 7rem;
    padding-top: 4rem;
 }

.season-cardapio {
    max-width: 1500px;
    margin: 0 auto;
}

.cardapio-title {
    color: white;
    padding-bottom: 7rem;
    font-size: 40px;
}

.position-cardapio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cardapio-container {
    /*max-width: 350px -- ficar de olho*/
    margin: auto;
    padding-bottom: 10vh;
    padding-top: 5vh;
}

.img-cardapio {
    width: 350px;

}

.text-cardapio-container {
    background-color: rgb(223, 219, 219);
}


.ingredientes-text {
    padding-bottom: 10px;
    padding-left: 10px;
}

.lista-cardapio {
    margin-left: 30px;
    padding-bottom: 15px;
}

.btn-cardapio {
    width: 100%;
    text-decoration: none;
    border: none;
    background-color: rgb(222, 170, 12);
    color: white;
    font-size: 20px;
    padding: 10px 0;
    transition: all 0.3s ease;
}

.btn-cardapio:hover {
    background-color: rgb(182, 122, 0);
    cursor: pointer;
}

.container-footer {
    max-width: 100%;
    background-color: rgb(32, 30, 30);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.boxtext-footer {
    max-width: 1700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    border-bottom: 1px solid rgb(69, 67, 67);
}

.text-footer {
   text-align: left;
   padding: 20px 20px 0 20px;
   padding-bottom: 5rem;
   color: rgb(255, 255, 255);
   
}

.text-design-footer {
    padding-bottom: 15px;
    font-size: 25px;
}

.list-footer {
    line-height: 1.5;
    list-style: none;
    font-size: 18px;
}

.list-footer li {
    color:rgb(90, 85, 85);
    transition: all 0.08s ease;
}

.list-footer a {
    color: rgb(124, 122, 122)
}

.list-footer a:hover {
    color:rgb(221, 217, 217)
}

.copyrite-container {
    max-width: 1700px;
    margin: 0 auto;
}

.container-btn-text {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

.copyrite-terms {
    width: 700px;
}

.copyrite-text {
    color: rgb(183, 179, 179);
    font-size: 14px;
}

.copyrite-termos {
    display: flex;
    justify-content: space-between;
    color: white;
    padding-top: 10px;
    font-size: 12px;
}

.copyrite-termos a {
    color: white;
}

.btn-top-design {
    padding: 15px 30px;
    text-decoration: none;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    background-color: rgb(90, 88, 88);
    color: rgb(252, 250, 250);
}

.btn-top-design:hover {
    background-color: rgb(121, 118, 118);
    cursor: pointer;
}